h1, h3 {
    font-family: 'Anton';
    text-align: center;
    text-transform: uppercase;
    /*text needs to wrap, maybe*/
}

h1 {

}

h4{
    font-family: 'Anton';
    text-transform: uppercase;
}

.area-title {
    text-align: center;
    margin-bottom: 3em;
}

body {
    background-color: #E6E6E6;
    text-transform: uppercase;
}

.dot1 {
    height: 100px;
    width: 100px;
    background-color: #E6563B;
    border-radius: 50%;
    display: inline-block;
    border: #F0F0F0 solid 10px;
}

.small-dot1 {
    height: 25px;
    width: 25px;
    background-color: #E6563B;
    border-radius: 50%;
    display: inline-block;
}

.dot2 {
    height: 100px;
    width: 100px;
    background-color: #EB9D3A;
    border-radius: 50%;
    display: inline-block;
    border: #F0F0F0 solid 10px;
}

.small-dot2 {
    height: 25px;
    width: 25px;
    background-color: #EB9D3A;
    border-radius: 50%;
    display: inline-block;
}

.dot3 {
    height: 100px;
    width: 100px;
    background-color: #7CB06C;
    border-radius: 50%;
    display: inline-block;
    border: #F0F0F0 solid 10px;
}

.small-dot3 {
    height: 25px;
    width: 25px;
    background-color: #7CB06C;
    border-radius: 50%;
    display: inline-block;
}

.dot4 {
    height: 100px;
    width: 100px;
    background-color: #00ABA9;
    border-radius: 50%;
    display: inline-block;
    border: #F0F0F0 solid 10px;
}

.small-dot4 {
    height: 25px;
    width: 25px;
    background-color: #00ABA9;
    border-radius: 50%;
    display: inline-block;
}

.circle-bar {
    display: flex;
    justify-content: space-evenly;
    justify-content: end;
}

.circle-bar-even {
    display: flex;
    justify-content: start;
}

h5 {
    text-align: center;
    margin: 50px 0;
}

.card-img-top {
    border: 7px solid lightgrey;
}

@media (min-width: 768px){
    .circle-bar-even {
        display: flex;
        justify-content: space-evenly;
        justify-content: end;
    }
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.little-circle-bar {
    display: flex;
    /*margin-left: 50px;*/
}

.letter-dot {
    margin-right: 10px;
}


